#title-container {
	text-align: center;
	font-size: 1.5rem;
	font-family: Helvetica,Arial,sans-serif;
	color: #00b3b4;
	text-shadow: 0 1px 0 #ccc;
}

body {
	background-color: #00b3b4;
}

.container {
	background-color: white;
	margin: auto;
	width: 700px;
	padding: 30px;
	margin-top: 50px;
}

#main-body {
	border: 2px solid #00b3b4;
	padding: 30px;
}

.monochrome-button {
	position:relative;
	display: inline-block;
	border-radius: 4px;
	font-size: 1.25rem;
	padding: 25px 45px;
	background: black;
	color: white;
	border: solid 1px grey;
	text-shadow: 0 1px 0 grey;
	font-weight: bold;
	transition: all ease 0.3s;

}

.monochrome-button::after {
	position: absolute;
	top: 38%;
	left: 80%;
	right: 0.6em;
	content: ">>>";
	transition: all ease 0.3s
	opacity: 0;
	color: transparent;
	text-shadow: none;
}

.monochrome-button:hover {
	padding: 25px 65px 25px 25px;
}

.monochrome-button:hover::after {
	right: 1em;
	left: 8em;
	opacity: 1;
	color: white;
	text-shadow: 0 1px 0 grey;
	transition: all ease 0.3s
}

.orange-button {
	position:relative;
	display: inline-block;
	line-height: 30px;
	border-radius: 4px;
	font-size: 23px;
	padding: 25px 45px;
	margin-left: 10px;
	background: orangered;
	color: white;
	border: solid 1px #c14101;
	text-shadow: 0 1px 0 #c14101;
	font-weight: bold;
	transition: all ease 0.3s;

}

.orange-button:hover {
	font-size: 30px;
	line-height: 30px;
}

.orange-button:active {
	font-size: 27px;
}

.slide-in-button {
	position:relative;
	display: inline-block;
	border-radius: 4px;
	font-size: 1.25rem;
	padding: 25px 45px;
	left: 5px;
	background: #73a320;
	color: white;
	border: solid 1px #f2f2ff;
	text-shadow: 0 1px 0 #3b3c77;
	font-weight: bold;
	transition: all ease 0.3s;
	outline: none;
}

.slide-in-button::after {
	position: absolute;
	top: 34%;
	left: 72%;
	right: 0.6em;
	content: "Hello!";
	transition: all ease 0.3s
	opacity: 0;
	color: transparent;
	text-shadow: none;
}

.slide-in-button:hover {
	padding: 25px 65px 25px 25px;
	color: transparent;
	text-shadow: none;
	background-color: #5154ef; 
	border: solid 1px grey;
}

.slide-in-button:hover::after {
	right: 1em;
	left: 1em;
	opacity: 1;
	color: white;
	text-shadow: 0 1px 0 grey;
	transition: all ease 0.3s
}

.slide-in-button:active {
	background-color: #4446c9;
}

.pattern-button {
	position: relative;
	display: inline-block;
	top: 15px;
	padding: 25px 45px;
	font-size: 1.5rem;
	font-weight: bold;
	text-transform: uppercase;
	background-color: #ad3452;
	border-radius: 4px;

	background-image: url(pinkPattern.png);
	background-size: 100px 100px;
	border: solid 1px #84273e;
	box-shadow: 3px 3px 5px #84273e inset;
	color: white;
	text-shadow: 0 1px 0 grey;
	transition: all ease 0.3s;
	outline: none;
}

.pattern-button:hover {
	animation: pattern-button-animation 4s linear infinite;
}

@keyframes pattern-button-animation {
	from {
		background-position: 0 0;
	}
	to {
		background-position: 100px 0;
	}
}

.pattern-button:active {
	box-shadow: 8px 8px 15px #772137 inset;
	text-shadow: 0 2px 0 #84273e;
}

.pattern-diagonal-button {
	position: relative;
	display: inline-block;
	top: 15px;
	left: 10px;
	padding: 25px 45px;
	font-size: 1.5rem;
	font-weight: bold;
	text-transform: uppercase;
	background-color: #ad3452;
	border-radius: 4px;

	background-image: url(pinkPattern2.jpg);
	background-size: 200px 200px;
	border: solid 1px #763a87;
	box-shadow: -1px 3px 5px #3f2b44;
	color: white;
	text-shadow: 0 1px 0 grey;
	transition: all ease 0.3s;
	outline: none;
}

.pattern-diagonal-button:hover {
	animation: pattern-diagonal-animation 12s linear infinite;
}

@keyframes pattern-diagonal-animation {
	from {
		background-position: 0 0;
	}
	to {
		background-position: 200px -200px;
	}
}

.pattern-diagonal-button:active {
	box-shadow: 0px 1px 2px #3f2b44;
	font-size: 1.3rem;
}

.triangle-appear-button {
	position:relative;
	display: block;
	border-radius: 4px;
	font-size: 1.25rem;
	padding: 25px 45px;
	margin-top: 35px;
	background: #1e488c;
	color: white;
	border: solid 2px #39e5ba;
	text-shadow: 0 1px 0 grey;
	font-weight: bold;
	transition: all ease 0.3s;
	box-shadow: -1px 3px 5px grey;
}

.triangle-appear-button::before {
	position: absolute;
	display: block;
	content: "";
	height: 0px;
	width: 0px;
	top: 0%;
	left: 0%;
	border-bottom:solid 38px transparent;
	border-left:solid 20px #39e5ba;
	border-top: solid 38px transparent;
	border-right: solid 38px transparent;
	transition: all ease 0.3s;
}

.triangle-appear-button:hover {
	transition: all ease 0.3s;
}

.triangle-appear-button:hover::before {

	border-left:solid 38px #39e5ba;

	transition: all ease 0.3s
}

.triangle-appear-button:active {
	background-color: #1a3d75;
	border-color: #30ba97;
	color: #e3edea;
}

.triangle-appear-button:active::before {
	border-left: solid 38px #30ba97;
}