#title-container {
	text-align: center;
	font-size: 1.5rem;
	font-family: Helvetica,Arial,sans-serif;
	color: #00b3b4;
	text-shadow: 0 1px 0 #ccc;
}

body {
	background-color: #00b3b4;
}

.container {
	background-color: white;
	margin: auto;
	width: 700px;
	padding: 30px;
	margin-top: 50px;
}

#main-body {
	border: 2px solid #00b3b4;
	padding: 30px;
}

.monochrome-button {
	position:relative;
	display: inline-block;
	border-radius: 4px;
	font-size: 1.25rem;
	padding: 25px 45px;
	background: black;
	color: white;
	border: solid 1px grey;
	text-shadow: 0 1px 0 grey;
	font-weight: bold;
	transition: all ease 0.3s;

}

.monochrome-button::after {
	position: absolute;
	top: 38%;
	left: 80%;
	right: 0.6em;
	content: ">>>";
	transition: all ease 0.3s
	opacity: 0;
	color: transparent;
	text-shadow: none;
}

.monochrome-button:hover {
	padding: 25px 65px 25px 25px;
}

.monochrome-button:hover::after {
	right: 1em;
	left: 8em;
	opacity: 1;
	color: white;
	text-shadow: 0 1px 0 grey;
	transition: all ease 0.3s
}

.orange-button {
	position:relative;
	display: inline-block;
	border-radius: 4px;
	font-size: 1.25rem;
	padding: 25px 45px;
	margin-left: 10px;
	background: orangered;
	color: white;
	border: solid 1px #c14101;
	text-shadow: 0 1px 0 #c14101;
	font-weight: bold;
	transition: all ease 0.3s;

}

.orange-button:hover {
	font-size: 30px;
}

.orange-button:active {
	font-size: 27px;
}

.slide-in-button {
	position:relative;
	display: inline-block;
	border-radius: 4px;
	font-size: 1.25rem;
	padding: 25px 45px;
	background: #73a320;
	color: white;
	border: solid 1px #f2f2ff;
	text-shadow: 0 1px 0 #3b3c77;
	font-weight: bold;
	transition: all ease 0.3s;
	outline: none;
}

.slide-in-button::after {
	position: absolute;
	top: 34%;
	left: 72%;
	right: 0.6em;
	content: "Hello!";
	transition: all ease 0.3s
	opacity: 0;
	color: transparent;
	text-shadow: none;
}

.slide-in-button:hover {
	padding: 25px 65px 25px 25px;
	color: transparent;
	text-shadow: none;
	background-color: #5154ef; 
	border: solid 1px grey;
}

.slide-in-button:hover::after {
	right: 1em;
	left: 1em;
	opacity: 1;
	color: white;
	text-shadow: 0 1px 0 grey;
	transition: all ease 0.3s
}

.slide-in-button:active {
	background-color: #4446c9;
}